body{
    background-image: url("https://static.vecteezy.com/system/resources/thumbnails/036/594/342/small/ai-generated-book-store-advertisment-background-with-copy-space-free-photo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}