.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box {
  text-align: center;
  padding: 20px;
  border: 3px solid black;
}

.login-box input {
  width: 200px;
  padding: 8px;
}

.login-box button {
  padding: 8px 15px;
  background-color:burlywood;
}